body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    padding:  20px;
    margin: 10px;
}

header {
    background: #333;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    margin-top: 20px;
}

#about img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}

section {
    margin-bottom: 20px;
     text-align: justify;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
}

h2, p {
    text-align: center
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    header, nav, main, footer {
        padding: 10px;
        margin: 5px;
    }

    header h1 {
        font-size: 1.5em;
    }

    nav ul li {
        margin: 3px 0;
    }
    
}
